venv
venv/**
__pycache__
**/*.pyc
*.lastrun
knownids.txt
mcp-config.json
config.json
scraeper-config.json
service_account.key.json
**/*.log
**/*.err
db/
model-cache/
wikiscreaper.lastrun
drivescreaper.lastrun
